#root {
	-fx-background-image:url("../images/background3.JPG");
	-fx-background-position:center;
	-fx-background-size:stretch;
	-fx-font-family: "Arial";
}

#center, #left, #right {
	-fx-background-color:aquamarine;
	/*-fx-background-color:#00FF99;*/
	-fx-background-insets:1em;
	-fx-padding:2em;
	-fx-border-color:rgb(128,128,192);
	-fx-border-style:solid;
	-fx-border-width:0.5em;
	-fx-font-size:1.3em;
}

#foods, #centerLabel, #meals {
	-fx-font-size:2em;
	-fx-font-weight:bold;
}

#title {
	-fx-text-fill:white;
}

#top {
	-fx-padding:0.8em;
	-fx-font: bold 3em "Arial";
	-fx-background-image:url("../images/ForkKnifePlate.png");
	-fx-background-position:37%;
	-fx-background-size:contain;
	-fx-background-repeat:no-repeat;
	
}