/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	/*-fx-background-color: #00FF7F;*/
	-fx-background-image:url("../images/background1.JPG");
	-fx-background-position:center;
	-fx-background-size:stretch;
}

#center, #left, #right {
	-fx-background-color:aquamarine;
	-fx-background-insets:1em;
	-fx-padding:2em;
	-fx-border-color:black;
	-fx-border-style:solid;
	-fx-border-width:0.5em;
}

#top {
	-fx-font: bold 3em serif;
}

#center {
	
}

#left {
	
}

#right {
	
}